<div class="table-data-container">
    @if (TableHeaders != null)
    {
        <MudSimpleTable>
            <thead>
            <tr>
                @foreach (var name in TableHeaders)
                {
                    <MudTh>@name</MudTh>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var row in TableDataValues)
            {
                <tr>
                    @foreach (var item in row.Value)
                    {
                        <td>@item</td>
                    }
                </tr>
            }
            </tbody>
        </MudSimpleTable>
    }
</div>

@code {
    private bool _hidePosition;
    private bool _loading;

    [Parameter]
    public List<string>? TableHeaders { get; set; }

    [Parameter]
    public Dictionary<int, List<string>> TableDataValues { get; set; }

}