.selection-container {
    background-color: #1e3f87;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    width: 350px;
}

label {
    width: 100%;
}

select {
    height: 30px;
    width: 100%;
}

.table-data-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    padding: 1rem;
    width: 100%;
}

.special-table-column {
    width: 50px;
}

.insert-container {
    background-color: #d5d5d5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 600px;
}

.insert-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.insert-item {
    display: flex;
}