@inherits LayoutComponentBase

<PageTitle>Configurator</PageTitle>
<div class="page">
    <main>
        <MudThemeProvider/>
        <MudDialogProvider/>
        <MudSnackbarProvider/>
        <article class="content">
            @Body
        </article>
    </main>
</div>