@inherits LayoutComponentBase

<PageTitle>Configurator</PageTitle>
<div class="page">
    <MudThemeProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>